h1 {
    text-decoration: underline;

}

.iconos {
    width: 15px;
    margin: 2px;
    cursor: pointer;
}
form{
    
    display: flex;
    flex-direction: column;
    width: 700px;
    margin: 50px auto;
    border: 1px solid black;
    padding: 5px;
    background-color: lightblue;
    border-radius: 5px;
}
.caixa{
    width: 500px;
    height: 250px;
    border: 1px solid black;
    margin: 30px auto;
    padding: 5px;
    background-color: gainsboro;
    border-radius: 5px;

}